@import 'src/scss/variables';

div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: $minHeight;
    button {
        font-size: 1em;
        padding: 1em;

        @media only screen and (max-width: 768px) {
            font-size: 4vw;
        }
    }
}