@import 'src/scss/variables';

header {
    display: flex;
    align-items: center;
    background: #eee;
    height: $header-height;
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.4em;

    img {
        position: relative;
        top: 0.2em;
        width: 1em;
    }
}