header {
    display: flex;
    align-items: center;
    background: #eee;
    height: 3rem;
    padding-left: 1em;
    font-weight: bold;
    font-size: 1.4em;

    img {
        position: relative;
        top: 0.2em;
        width: 1em;
    }
}