/* You can add global styles to this file, and also import other style files */
@import 'normalize.css';

html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;  
}

p, ul, h1, h2 {
    margin: 0;
}

[routerLink], [ng-reflect-router-link] {
    cursor: pointer;
    &[disabled] {
        cursor: default;
    }
}

button {
    border: none;
    padding: 0.5em 1em;
}