<div class="frame">
  <form [formGroup]="f" (ngSubmit)="onSubmit()">
    <label>
      <div>Entrer le texte de la question :</div>
      <textarea rows="3" formControlName="text"></textarea>
    </label>
    <br>
    <br>
    <br>
    <p>Entrer les 4 réponses</p>
    <div class="answers">
      <div class="input">
        <label>
          <span>A</span> <input type="text" formControlName="answer1">
        </label>
        <label>
          <span>B</span> <input type="text" formControlName="answer2">
        </label>
        <label>
          <span>C</span> <input type="text" formControlName="answer3">
        </label>
        <label>
          <span>D</span> <input type="text" formControlName="answer4">
        </label>
      </div>
      <div class="radio">
        <input type="radio" value="A" formControlName="goodAnswer">
        <input type="radio" value="B" formControlName="goodAnswer">
        <input type="radio" value="C" formControlName="goodAnswer">
        <input type="radio" value="D" formControlName="goodAnswer">
      </div>
    </div>
    <button type="button" (click)="goBack()">Annuler</button>
    <button>Ajouter la question</button>
  </form>
</div>
<div>
  {{f.value | json}}
</div>